/*Para eliminar los estilos de cada navegador*/
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: rgba(127, 255, 212, 0.806);
}

header {
    padding: 130px;
    background-image: url(./images/foto-portada.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.navBar {
    padding: 20px;
    background-color: rgb(244, 217, 183);
    
}

.tarjeta {
    display: flex;
    background-color: rgba(189, 148, 98, 0.324);
    width: 150px;
    height: 100px;
}
